# `dskit` demo

In [9]:
import numpy as np
import pandas as pd

from dskit.demo import generate_demo_df
from dskit.pivots import check_empty_values, get_target_pivot
from dskit.preprocessing import merge_rare_values

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.float_format', '{:.3f}'.format)

In [3]:
df = generate_demo_df(size=1_000)

## 1. `dskit.pivots`
### 1.1. `dskit.pivots.check_empty_values`

In [4]:
df['children_count'].value_counts(dropna=False).sort_index()

children_count
0.000    335
1.000    345
2.000    188
3.000     73
4.000     13
NaN       46
Name: count, dtype: int64

In [5]:
check_empty_values(df, col='children_count')

nans:  46 (4.6%)
zeros: 335 (33.5%)

### 1.2. `dskit.pivots.get_target_pivot`

In [6]:
get_target_pivot(df, col='client_class', target_col='total_payments')

In [7]:
get_target_pivot(df, col='client_class', target_col='risk', positive_target=False)

In [8]:
get_target_pivot(df, col='client_class', target_col='risk', revenue_col='total_payments', positive_target=False)

## 2. `dskit.preprocessing`
### 2.1. `dskit.preprocessing.merge_rare_values`

In [14]:
df['citizenship_merged'] = merge_rare_values(df['citizenship'], threshold=0.05)

In [16]:
print(df['citizenship'].nunique())
print(df['citizenship'].nunique())

10

In [15]:
get_target_pivot(df, col='citizenship_merged', target_col='total_payments', positive_target=True)